title   @TITLE@
linux   /vmlinuz-linux
initrd  /intel-ucode.img
initrd  @INITRAMFS@
options rd.luks.name=@LUKS_UUID@=cryptroot rd.luks.options=@LUKS_UUID@=discard root=UUID=@ROOT_UUID@ rootfstype=btrfs rootflags=subvol=@ rw
